
.form {
width: 100%;
    height: 20em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // padding: 41px;
    // transition: .2s;
  h2 {
    font-weight: 300;
  }
}

.inputFields {
  font-size: 16px;
  padding: 10px;
  width: 50%;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, .2);
  color: white;
  outline: none;
}

.select_inputs_container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

select{
  width: 160px;
  height: 35px;
  font-size: 1em;
  font-weight: 900;
}
.swap_icon{
    font-size: 50px;
    cursor: pointer;
    &:hover{
      color: cyan;
    }
}

label{
  display: block;
  margin-bottom: 10px;
}

.currency_value{
    border: 1px solid white;
    width: 49%;
    padding: 12px;
    margin: 50px auto;
    align-self: center;
}

.converted_amount_details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 82%;
    margin: 0 auto;
  p{
     border: 1px solid white;
     width: 100%;
     text-align: center;
       padding: 16px;
       font-weight: 900;
       font-size: 20px;
    }
  }
  .more_details_btn{
      width: 100%;
    border: 1px solid rgb(10, 180, 180);
    background: rgba(20, 20, 20, 0.6);
    font-size: 18px;
    color: white;
    padding: 15px 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.4s;
  &:hover {
    padding: 20px 20px;
  }
}
.btn{
  border: 1px solid rgba(10, 180, 180, 1);
  background: rgba(20, 20, 20, .6);
  font-size: 18px;
  width: 82%;
  color: white;
  margin-top: 20px;
  padding: 5px 40px;
  cursor: pointer;
  transition: .4s;
  &:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
  }
}

.btn-disabled{
  border: 1px solid rgb(84, 84, 84);
  background: rgba(144, 143, 143, 0.6);
  font-size: 18px;
  width: 82%;
  color: white;
  margin-top: 20px;
  padding: 5px 40px;
  // cursor: pointer;
}
.form>div{
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  // margin-right: 100px;
}
