.main_container {
    // width: 100%;
    // height: 100%;
    color: white;

    h1{
    text-align: left;
    padding: 18px;
    margin: 0;
    background-color: rgba(15, 31, 31, 0.8);
  }
}
// .home_container:before {
//   z-index: -1;
//   content: ' ';
//   position: absolute;
//   left: 0px;
//   top: 0px;
//   right: 0px;
//   width: 100%;
//   height: 100%;
//   opacity: 0.5;
// //  background-image: url("https://media.istockphoto.com/id/1220396440/photo/dust-particles-on-black-background.jpg?b=1&s=170667a&w=0&k=20&c=wRIg4_WLoaw9KDTdEtR5WJ39obYNdYXCEJxYxXfBAGI=");
//   background-repeat: no-repeat;
//   background-position: 50% 0;
//   background-size: cover;
 
// }
.container{
  // border: 1px solid white;
  // width: 100%;
  // // margin: ;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  padding: 30px 0;
  // background: rgba(20, 40, 40, .8);
}
.grid_container{
    background: rgba(20, 40, 40, .8);
    display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  column-gap: 10px;
  row-gap: 10px;
  height: 100%;
    
}