@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: rgba(20, 40, 40, .8);
}
body::-webkit-scrollbar{
    width: 9px;
  
}
body::-webkit-scrollbar-track{
  background: #212529;
}
body::-webkit-scrollbar-thumb{
  background: cyan;
    border-radius: 13px;
}